:root {
    --background: #edeef7;
    --gray: #edeef7;
    --white: #ffffff;
    --shadow-opacity: 0.30;
    --blur: 10px;
}

body {
    font-size: 1rem;
    background-image: url(img/bg-img.jpg);
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 100vh;
}

#team_members {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 550px;
    margin: auto;
    padding: 50px;
    background: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(var(--blur));
            backdrop-filter: blur(var(--blur));
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, var(--shadow-opacity)));
}

.team_member {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    min-height: 60px;
    padding: 16px;
    background-color: var(--white);
    border-radius: 24px;
    font-size: 16px;
    z-index: 1;
}

.team_member:hover {
    cursor: -webkit-grab;
    cursor: grab;
}

.team_member_avatar {
    width: 3.75rem;
    height: 3.75rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.team_member_name {
    display: grid;
    gap: 0.125rem;
}

.team_member_name h3 {
    font-size: large;
}

.team_member_name p {
    font-size: smaller;
}

.team_member_drag {
    opacity: 0;
}

.social_links {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-left: auto;
    padding: 0;
    list-style-type: none;
}

.social_links i {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.25rem;
}